.el-input__inner {
  //background: #2A2D2E;;
  //border: 1px solid #5C5D5D;
  border-radius: 2px;
  //color: #a9a9a9;

}

.el-input__inner:focus{
  border: 1px solid #007ACC;
}

.el-input--mini .el-input__inner {
    height: 24px;
    line-height: 24px;
}

.el-input-group__append, .el-input-group__prepend {
  padding: 0 0px;
}

.el-input-group__append:hover, .el-input-group__prepend:hover {
  background: #d5e1f2 ;
}


.el-input-group__append:active, .el-input-group__prepend:active {
  background: #a2bce2 ;
}


.el-input--mini .el-input__inner::-webkit-input-placeholder { /* WebKit browsers */
  //color: #606266;
  font-size: 12px;
}

.el-input--mini .el-input__inner::-moz-placeholder { /* Mozilla Firefox 19+ */
  //color: #606266;
  font-size: 12px;
}

.el-input--mini .el-input__inner:-ms-input-placeholder { /* Internet Explorer 10+ */
  //color: #606266;
  font-size: 12px;
}
